/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: blue;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.about {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
/* Fake image, just for this example */
.imgstyle {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}
ul.nav{
  list-style-type:none;
width:100%;
position: fixed;
top: 10;
left: 20;  
background-color: yellow;
} a{test decoration: none;
color:blue;
font-size: 150%;}
span { 
  background-color: #80ced6;
}

ul.covidIntro, ul.timeline,ul.proscons,ul.why{ 
 font-family: "Times New Roman", Times, serif;
  padding:100px;
  font-size:150%;
  left:50em;
  background-color:#f3f3f3;
  width: 100%;
  height: 100%
  border: 1px solid #c3c3c3;
  flex-wrap: wrap;
  align-content: center;
  valign-content:center;

}

table{
  tr,td{
   valign:center;
    align:left;
    width: 800px
    
  }
}
